.simple-section {
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 800px;

    font-family: "sfuidisplaylight", serif;
    font-size: 17px;
}

.simple-section p {
    padding: 10px 0;
}

.simple-section h3 {
    letter-spacing: 1px;
    padding: 10px 0;
}

.simple-section iframe {
    display: block;
    margin: 10px auto;
}

.simple-section .example {
    display: none;
}

.simple-section a {
    text-decoration: underline;
}

@media all and (max-width: 1023px) {
    .simple-section {
        padding: 15px 20px;

    }
}