$default-font: "Proxima Nova", Arial, sans-serif;

// colors
$color-text: #43464f;
$color-dark: #000000;
$color-light: #777777;
$color-green: #99f262;
$color-purple: #403179;
$color-lightpurple: #6a48e7;
$color-red: #e84949;
$color-blue: #2121aa;
$color-orange: #e6810a;

// sizes
$site-width: 1150px;